vte-terminal
{
  padding: 4px;
}

@keyframes visual-bell
{
  50% {
    color: #000;
    background-color: shade(@orange_2, 1.1);
  }
}

window.capsule-window box.visual-bell
{
  animation: visual-bell 0.5s ease-out;
}

vte-terminal:drop(active) .drop-highlight
{
  box-shadow: 0 0 1px 1px @accent_bg_color;
}

vte-terminal revealer.size label
{
  background: @theme_bg_color;
  padding: 3px 12px;
  border-top-left-radius: 9px;
  border-top: 1px solid alpha(@borders,.5);
  border-left: 1px solid alpha(@borders,.5);
}
