vte-terminal
{
  padding-top: 7px;
  padding-bottom: 6px;
  padding-left: 6px;
  padding-right: 6px;
}

@keyframes visual-bell
{
  50% {
    color: #000;
    background-color: alpha(shade(@orange_2, 1.1), .66);
  }
}

window.capsule-window box.visual-bell
{
  animation: visual-bell 0.5s ease-out;
}

vte-terminal:drop(active) .drop-highlight
{
  box-shadow: 0 0 1px 1px @accent_bg_color;
  border-radius: 0 0 11px 11px;
}
window.maximized vte-terminal:drop(active) .drop-highlight
{
  border-radius: 0;
}

vte-terminal revealer.size label
{
  background: @theme_bg_color;
  padding: 3px 12px;
  border-top-left-radius: 9px;
  border-top: 1px solid alpha(@borders,.5);
  border-left: 1px solid alpha(@borders,.5);
}

findbar .close-button
{
  min-height: 0;
  min-width: 0;
  border-radius: 99px;
}

findbar .close-button image
{
  padding: 0;
}
